body {
    font-family: 'Poppins', sans-serif;
}

.section-padding {
    padding: 2rem 2.4rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin: 2rem;
    overflow: scroll;
}